.roomName {
  padding-bottom: 1rem;
}

.walledRoom {
  border: 1px solid darkgray;
  padding: 20px;
  background: #222222;
}

.bright {
  border: 1px solid black;
  background: lightgray;
}

.encouragement {
  padding-top: .5rem;
  color: darkgray;
  font-size: medium;
}